{% extends 'entidades/base.html' %}

{% block title %}Clientes - Guardería{% endblock %}

{% block content %}
<section class="page-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestros Clientes</h2>
            <h3 class="section-subheading text-muted">Listado de todos los clientes registrados</h3>
       <div class="text-center mb-4">
            <a href="{% url 'cliente_create' %}" class="btn btn-primary btn-xl text-uppercase">+ Agregar Cliente</a>
        </div>

        {% if clientes %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nombre_cliente }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefono }}</td>
                     <td>
                            <a href="{% url 'mascotas_por_cliente' cliente.pk %}" class="btn btn-info btn-sm">Mascotas</a>
                            <a href="{% url 'citas_por_cliente' cliente.pk %}" class="btn btn-success btn-sm">Citas</a>
                            <a href="{% url 'cliente_edit' cliente.pk %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'cliente_delete' cliente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-center text-muted">No hay clientes registrados aún.</p>
        {% endif %}
    </div>
</section>
{% endblock %}